#wrapper {
    width: 970px;
    height: 1800px;
}

#top {
    width:970px;
    height:100px;
}

#header {
    width: 970px;
    height: 100px;
}

ul {
    padding-left:1em;
    text-indent: 50px;
    border: 4px solid rgb(22, 22, 22);
    list-style-type: none;
    background-color: green;
    display: flex;
    color: ivory;
    
}

.main {
    width: 970px;
    height: auto;
    display: flex;
}

.country_name {
    width:970px;
    height: auto;
    text-align: left;
}

h1 {
    height: 50px;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    border-bottom: 4px solid rgb(7, 7, 7);
    text-align: center;
}

.citylist {
    flex: .3;
}

img {
    align-items: center;
}

.listofcities {
    
}

.landmarklist {
    flex: .3;
}

.listoflandmarks {

}

.famouscitizenlist {
    flex: .3;
}

.listoffamouscitizens {
    
}

#footer {
    text-align: center;
    padding-top:50px;
    width: 970px;
    height: auto;
}

footer {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}